# Android Studio
*.iml
.idea/
.gradle/
.kotlin/

# Configuração local
local.properties

# Builds
build/
**/build/

# Android
captures/
.externalNativeBuild/
.cxx/

# Sistema operativo
.DS_Store
Thumbs.db